// Основные цвета =================================================================================================================
$white: #fff;
$black: #000;
$gray: #818181;

$blue: #3284FF;
$BG-blue: #040D21;
$EL-blue: #8193B2;

$textH2: #2E2E2E;
$text: #353535;

// Шрифт по умолчанию =================================================================================================================
$fontFamily: "Montserrat";
$fontSize: 1.4rem; // 14(px) - размер шрифта по умолчанию из макета

//НАСТРОЙКИ =================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1280px;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 24px;

// Ширина срабатывания первого брейк-поинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pcB: 1400px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pc: 1200px; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: 991px; // Планшеты, некоторые телефоны в горизонтальном положении
$tabletS: 767px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 575px; // Телефоны
$mobileS: 375px; // Телефоны S
