.nav {
	// .nav__link
	&__link {
		color: inherit;
		margin-right: 5rem;
		font-size: 1.7rem;
		font-weight: 500;

		&:last-child {
			margin: 0;
		}

		&::after {
			width: 0;
		}

		&:hover,
		&.active {
			color: $blue;

			&::after {
				width: 100%;
			}
		}
	}
}
