<!-- Elements -->
<div class="container">
	<a class="btn" href="#">Рассчитать стоимость</a>
	<button class="btn" type="button">Рассчитать стоимость</button>

	<h2 class="title">Всегда к вашим услугам собственный и наёмный транспорт</h2>

	<a class="link" href="">Перезвоните мне</a>
	<button type="button">Перезвоните мне</button>

</div>


<!-- Fast Order -->
<div class="fast-order">
	<div class="container">

		<div class="fast-order__inner">
			<div class="fast-order__text">
				<div class="fast-order__title">Быстрый заказ услуг</div>
				<div class="fast-order__subtitle">Заполните, пожалуйста, форму </div>
			</div>
			<form class="fast-order__form form" action="/" method="post">
				<div class="form__group">
					<div class="form__item">
						<input class="form__input" id="name-input"  name="name-input" type="text" placeholder="Иван" required>
					</div>
					<div class="form__item">
						<input class="form__input" id="phone-input" name="phone-input" type="tel" placeholder="+7 (_ _ _)  _ _ _  _ _  _ _" required >
					</div>
				</div>
				<button class="form__button" type="submit">Перезвоните мне</button>
			</form>
		</div>

	</div>
</div>
