<header class="header" id="header">
	<div class="container">
		
		<div class="header__inner" id="header__inner">
			<div class="header__logo">
				<img src="@img/icons/logo.svg" alt="" data-scroll="#intro">
			</div>
			<div class="header__nav-adaptive">
				<nav class="header__nav nav" id="nav">
					<a class="nav__link link" href="#" id="nav-services" data-scroll="#services">Услуги</a>
					<a class="nav__link link" href="#" id="nav-calc" data-scroll="#calc">Калькулятор</a>
					<a class="nav__link link" href="#" id="nav-work" data-scroll="#work">Как мы работаем</a>
					<a class="nav__link link" href="#" id="nav-review" data-scroll="#review">Отзывы</a>
					<a class="nav__link link" href="#" id="nav-partners" data-scroll="#partners">Контакты</a>
				</nav>
			</div>
			<div class="header__info info">
				<a class="info__item  info__item--phone" href="tel:89036526722">+7 (903) 652 67 22</a>
				<a class="info__item  info__item--email" href="mailto:manager@mtk-logistics.ru">manager@mtk-logistics.ru</a>
			</div>
			<div class="burger">
				<span>1</span>
				<span>1</span>
				<span>1</span>
			</div>
		</div>
	</div>

	<div class="header-bottom" id="header-bottom">
		<div class="container">

			<div class="header-bottom__inner"></div>

		</div>
	</div>

	<div class="burger-menu">
		<div class="burger-menu__inner">
			<div class="container">
				<div class="burger-menu__close">
					<img class="burger-menu-close" src="@img/icons/close.svg" alt="">
				</div>
			</div>
			<div class="burger-menu__content">
				<nav class="burger-menu__nav nav" id="nav">
					<a class="nav__link link" href="#" id="nav-services" data-scroll="#services">Услуги</a>
					<a class="nav__link link" href="#" id="nav-calc" data-scroll="#calc">Калькулятор</a>
					<a class="nav__link link" href="#" id="nav-work" data-scroll="#work">Как мы работаем</a>
					<a class="nav__link link" href="#" id="nav-review" data-scroll="#review">Отзывы</a>
					<a class="nav__link link" href="#" id="nav-partners" data-scroll="#partners">Контакты</a>
				</nav>
				<div class="container">
					<div class="burger-menu__info info">
						<a class="info__item  info__item--phone" href="tel:89036526722">+7 (903) 652 67 22</a>
						<a class="info__item  info__item--email" href="mailto:manager@mtk-logistics.ru">manager@mtk-logistics.ru</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>